doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Accept a payment
    meta(name='description', content='A demo of a payment on Stripe')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='style.css')
    script(src='https://js.stripe.com/clover/stripe.js')
    script(src='../public/js/payments/checkout.js', defer='')
  body
    // Display a payment form
    #checkout
      // Checkout will insert the payment form here